//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    version = false
    fastq = null
    bam = null
    ref_host = null
    ref_helper = null
    ref_rep_cap = null
    ref_transgene_plasmid = null
    itr1_start = null
    itr1_end = null
    itr2_start = null
    itr2_end = null

    threads = 4
    out_dir = "output"
    sample = null
    sample_sheet = null
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false
    analyse_unclassified = false
    basecaller_cfg = "dna_r10.4.1_e8.2_400bps_sup@v3.5.2"
    itr_fl_threshold = 100
    itr_backbone_threshold = 20
    symmetry_threshold = 10

    medaka_model = null

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'

    wf {
        fastcat_stats = true
        example_cmd = [
            "--fastq test_data/fastq",
            " --ref_host test_data/cell_line.fasta.gz",
            "--ref_helper test_data/helper.fasta",
            "--ref_rep_cap test_data/repcap.fasta",
            "--itr1_start 11",
            "--itr1_end 156",
            "--itr2_start 2156",
            "--itr2_end 2286",
            "--ref_transgene_plasmid test_data/transgene.fasta",
            "--threads 2"
        ]
        container_sha = "shad9d16c965b87a03180c6dc5534ad86c96a5d9cb0"
        common_sha = "sha91452ece4f647f62b32dac3a614635a6f0d7f8b5"
        container_sha_medaka = "sha61a9438d745a78030738352e084445a2db3daa2a"
        agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-aav-qc'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-aav-qc'
    description     = 'AAV plasmid quality control workflow'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v0.0.1'
}

// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:wf_aav {
        container = "ontresearch/wf-aav-qc:${params.wf.container_sha}"
    }
    withLabel:wf_common {
		container = "ontresearch/wf-common:${params.wf.common_sha}"
	}
    withLabel:medaka {
        container = "ontresearch/medaka:${params.wf.container_sha_medaka}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    // keep stub conda profile to prevent unknown profile warning so users get a better error
    conda {
        conda.enabled = true
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:wf_aav {
                container = "${params.aws_image_prefix}-wf-aav-qc:${params.wf.container_sha}-root"
            }
            withLabel:wf_common {
                container = "${params.aws_image_prefix}-wf-common:${params.wf.common_sha}-root"
            }
            withLabel:medaka {
                container = "${params.aws_image_prefix}-medaka:${params.wf.container_sha_medaka}-root"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE = 1
}
